* {
  margin: 0;
}
.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.app_left {
  flex: 0.9;
}

body {
  background: #f5f6fa;
}

.ContentApp {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}


@media (max-width: 990px) {
  .ContentApp {flex-direction: column}
}